<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поиск книги</title>
</head>
<body>
<h1>Поиск книги</h1>

<form action="/books/search" th:method="POST">
    <label for="nameStartingWith">Укажите название:</label>
    <input type="text" id="nameStartingWith" name="nameStartingWith" placeholder="Начните писать название..." required/>
    <button type="submit">Найти</button>
</form>

<br/>

<div th:if="${isSearchCompleted}">
    <div th:if="${book == null}">
        <p>Книг не найдено</p>
    </div>

    <div th:if="${book != null and person == null}">
        <p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}"></p>
        <p>Книга свободна</p>
    </div>

    <div th:if="${book != null and person != null}">
        <p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}"></p>
        <p th:text="'Книга сейчас у: ' + ${person.name}"></p>
    </div>
</div>

<hr/>

</body>
</html>