<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Книга</title>
</head>
<body>

<p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">VALUE</p>

<br/>

<div th:if="${person == null}">
    <p>Эта книга свободна. Кому назначить её?</p>
    <form th:method="PATCH" th:action="@{/books/{id}/take(id=${book.id})}">
        <select name="personId" id="person">
            <option th:each="person : ${people}" th:value="${person.getId()}"
                    th:text="${person.getName()}"></option>
        </select>
        <input type="submit" value="Назначить книгу">
    </form>
</div>

<div th:if="${person != null}">
    <p th:text="'Книга сейчас у: ' + ${person.getName()}"></p>
    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.id})}">
        <input type="submit" value="Освободить книгу">
    </form>
</div>


<hr/>

<form th:method="PUT" th:action="@{/books/{id}/edit(id=${book.getId()})}">
    <input type="submit" value="Редактировать">
</form>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Удалить"/>
</form>

</body>
</html>